# Virtual environment folder
venv/
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Environment variables file (if any)
.env

# Logs
*.log

# macOS system files
.DS_Store

# Data
raw/
processed/
images/
sd-finetuned-model/